		<h5 align="right">View's filename: <i><b>index.erb</b></i></h5>
    <h4>My Persons:</h4>
    <table class="table table-bordered" > 
      <thead class="table-primary">                       
        <tr>                                                  
          <th class="p-2 text-center table-primary" >ID</th>
          <th class="p-2 text-center" >Photo</th>
          <th class="p-2 text-center" >Name</th>
          <th class="p-2 text-center" >Was born</th>
          <th class="p-2 text-center" >Was dead</th>
          <th class="p-2 text-center" >Discription</th>        
        </tr>
      </thead>                            
      <tbody> <% @persons.each do |item| %> 
        <tr>                          
          <td class="p-2" align="center"> <%= item['id']%> </td>
          <td class="p-2" align="center"> 
          	<img src="/<%= item['photo_link']%>" class="img-thumbnail" alt="/<%= item['photo_link']%>" width="96" height="96" >
          </td>
          <td class="p-2" align="left"><h5><a href="/person/<%=item['id']%>"><%= item['name']%></a></h5></td>
          <td class="p-2" align="center"> <%= item['b_date']%> </td>
          <td class="p-2" align="center"> <%= item['d_date']%> </td>
          <td class="p-2" align="left">   <%= item['discription']%> </td>
        </tr>
      </tbody><% end %>
    </table>
    <div> <a href="/person/new">New Person</a> </div>