    <h5 align="right">View's filename: <i><b>person_new.erb</b></i></h5>
    <h4>Adding New Person</h4>
    <form action="/person/new", method="POST" class="row g-3">
      <div class="col-md-6">
        <label for="inputName" class="form-label"> Фамилия Имя Отчество: </label>
        <input type="text" class="form-control" name="human[name]" placeholder="Петров Николай Иванович" value="<%= @p.name %>">
      </div>
      <div class="col-md-3">
        <label for="inputBDate" class="form-label"> Дата рождения: </label>
        <input type="text" class="form-control" name="human[b_date]" placeholder="13.02.1936" value="<%= @p.b_date %>">
      </div>
      <div class="col-md-3">
        <label for="inputDDate" class="form-label"> Дата смерти: </label>
        <input type="text" class="form-control" name="human[d_date]" placeholder="15.11.2003" value="<%= @p.d_date %>">
      </div>
      <div class="input-group mb-12"></br>
    	  <input type="file" class="form-control" name="human[photo_link]" value="<%= @p.photo_link %>">
    	  <label class="input-group-text" for="inputGroupFile"> Загрузить фото </label>
    	</div>
      <div class="col-md-12">
        <label for="inputDiscription" class="form-label"> Кем Вам приходится этот человек: </label>
        <textarea class="form-control" name="human[discription]" rows="3" placeholder="Это моя .... Я с этим человеком .... Для меня он ..." value="<%= @p.discription %>"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Запомнить данные</button>
      </div>
    </form>
