    <h5 align="right">View's filename: <i><b>person_view.erb</b></i></h5>
    <h4>Show Person:</h4>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary">Previous</button>
      <button type="button" class="btn btn-outline-primary">Start now</button>
      <button type="button" class="btn btn-outline-primary">Next Person</button>
    </div>
    </br></br> 
    <div class="container">
      <div class="row">
        <div class="col-6">
          <table class="table table-bordered" >                         
            <tbody>  
              <tr>                          
                <td class="p-6" align="center">  
                  <img src="/<%= @person['photo_link']%>" class="img-thumbnail" alt="/<%= @person['photo_link']%>" width="512" height="512"></br>
                </td>
              </tr>
              <tr>
                <td class="p-6" align="center"><h3><%= @person['name']%></h3></td>
              </tr>
              <tr>
                <td class="p-6" align="center"><h4><%= @person['b_date']%> - <%= @person['d_date']%></h4></td>
              </tr>  
            </tbody>
          </table>
        </div>
        <div class="col-auto">
          <p> <%= @person['discription']%> </p>
        </div>
      </div>
    </div> 
    <div>
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-danger">Delete</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-light">Light</button>
      <button type="button" class="btn btn-outline-dark" onclick="myflash()">Dark</button>
    </div> 