    <h3>Index</h3> <!-- ( index.erb ) -->
    <b style="color: rgb(256, 64, 128)" > I am: <%= $user.name %> </b>
    </br></br>
    <h4>My Persons:</h4>
    <table class="table table-bordered" > 
      <thead class="table-primary">                       
        <tr>                                                  
          <th class="p-2 text-center table-primary" >ID</th>
          <th class="p-2 text-center" >Фото</th>
          <th class="p-2 text-center" >Имя</th>
          <th class="p-2 text-center" >Рождение</th>
          <th class="p-2 text-center" >Смерть</th>
          <th class="p-2 text-center" >Примечание</th>        
        </tr>
      </thead>                            
      <tbody>  
        <tr>                          
          <td class="p-2" align="center"> <%= @person['id']%> </td>
          <td class="p-2" align="center"> <%= @person['photo_link']%> </td>
          <td class="p-2" align="left">   <%= @person['name']%></a></td>
          <td class="p-2" align="center"> <%= @person['b_date']%> </td>
          <td class="p-2" align="center"> <%= @person['d_date']%> </td>
          <td class="p-2" align="left">   <%= @person['discription']%> </td>
        </tr>
      </tbody>
    </table>